:root{
    --main-blue:#4980FF;
    --dark-blue:#28293E;
    --light-grey:#EFEFEF;
}

body{
    padding:0;
    margin:0;
    text-align:center;
    font-family:'lato', sans-serif;

}

section{
    padding:40px 0;
}

hr{
    width:72px;
    height:8px;
    background-color: var(--main-blue);
    margin:16px auto 32px auto;
    border:none;
}

section .section-title{
    font-size:48px;
    font-weight:bold;
    letter-spacing: -1px;
    margin-bottom:18px;
    margin-top:0;
}

section p{
    font-size:20px;
    line-height:32px;
    color:#5C5C5C;
}

header{
    background-color: var(--dark-blue);
    text-align:center;
    padding:20px 0;
}

ul{
    list-style-type:none;
}

header li{
    display:inline;
}

header a{
    color:white;
    text-decoration:none;
    margin:0px 22px;
}

.button{
    background-color: var(--main-blue);
    padding:12px 4px;
    border-radius:6px;
}

.container{
    width:940px;
    margin:auto;
    border:yellow solid 1px;

}

section.blue-bg{
    background-color:var(--dark-blue);
    color:white;
    padding-top:68px;
}

img#profile-pic{
    width:263px;
   
    border-radius:270px;
}
#hero{
    padding-top:68px;
    padding-bottom:58px;

}
#hero h1{
    font-size:72px;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:15px;
    letter-spacing: -2px;

}
#hero h2{
    font-size:20px;
    font-weight:normal;
    color:var(--main-blue);
    margin-bottom:20px;
    letter-spacing:3px;

}
#hero p{
    
    max-width:565px;
    margin:auto;
    margin-bottom:20px;
    color:white;
    
}
#hero ul{
    padding:0;
    
}

#hero li{
    display:inline;
    margin:0 6px;
}

#hero li img{
    width:37px;
}

#skillset .skills{
    width:500px;
    margin:auto;
}

#skillset span{
  display:inline-block;
  width:146px;
  height:40px;
  line-height:40px;
  border-radius:73px;
  margin:8px;
  background-color:var(--light-grey);
  font-size:16px;
  letter-spacing:-1px;

}